@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700;900&display=swap');

::selection {
  background-color: #222;
}

.App {
  text-align: center;
  background-color: #222;
  margin: 2em auto;
  border-radius: 2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  padding: 1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

h2 {
  font-size: 3em;
  font-weight: 700;
}

button {
  background-color: #444;
  border: none;
  width: 3em;
  height: 3em;
  padding: 1em;
  border-radius: 100%;
  margin: 0.3em;
  font-size: 1.5em;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

button:hover {
  cursor: pointer;
  background-color: #333;
}

.colored-btn {
  background-color: #BA3A61;
}

.colored-btn:hover {
  background-color: #a0274b;
}

.brighter-btn {
  background-color: #666;
}

.brighter-btn:hover {
  background-color: #555;
}

.zero {
  width: 6.6em;
  border-radius: 5em;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.2em;
}

.keys-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#zero {
  background-color: #444;
  width: 8.4em;
  border-radius: 5em;
  display: flex;
  justify-content: flex-start;
}

#zero:hover {
  background-color: #333;
}

#zero h3 {
  margin-left: 0.6em;
}